thick-pink-border {
  border-color:black;
  border-width: 10px;
  border-style: solid;
  border-radius: 50%;
}

.smaller-image {
  width: 100px;
}
html, body{
  height:100%;
  margin:0%;
}

header,main,aside, footer{
  border:1px solid #000;
  padding:5px;
  margin:5px;
  background-color:rgba(255,0,0,30%);
  
}

header ul li{
  display:inline-block;
}

.blog{
  height:100%;
  display:grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 100px 1fr 50px;
  grid-template-areas:"header header"
                       "main sidebar"
                       "footer footer";
}

header{
  grid-area:header;
}

main{
  grid-area:main;
  
}

aside{
  grid-area:sidebar;
}

footer{
  grid-area:footer;
  width:98.8%;
}

@media only screen and (max-width:400px){
  .blog{
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 1fr 50px;
    grid-template-areas: "header"
                          "main"
                          "sidebar"
                          "footer";
  }
}



h4 {
  text-align: center;
  background-color: rgba(45, 45, 45, 0.1);
  padding: 10px;
  font-size: 27px;
}
p {
  text-align: justify;
}
.links {
  text-align: left;
  color: black;
}



.fullCard {
  width: 245px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 5px;
  padding: 4px;
  float:left;
}
.cardContent {
  padding: 10px;
}
.cardText {
  margin-bottom: 30px;
}

.lion{
    float: center;
    padding: 15px;
}

.footer{
  width: 600px;
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
  list-style: none;


  blockquote{
  color:purple;
  font-size:28px;
}



@media screen and (min-width: 330px) {
  aside {
    display:flex;
    flex-direction: column;
  }

}

 